.cascading{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  select{
    width: 100%;
    height: 1.5rem;
    outline: none;
  
  }