
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  
    background-color: rgba(245, 240, 240, 0.7);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal{
    width: 25rem;
    min-height: 200px;
    background-color: rgb(14, 12, 12);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
  
    position: relative;
  }
  
  .close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  /* ------------------------------------------------------------------------------------- */
  .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .btn{
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .close{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }